set_io clk   P7
set_io rst_n P8

#set_io spi_mosi M11
#set_io spi_miso P11
#set_io spi_sck  P12
#set_io spi_ss   P13

set_io led[0] J11
set_io led[1] K11
set_io led[2] K12
set_io led[3] K14
set_io led[4] L12
set_io led[5] L14
set_io led[6] M12
set_io led[7] N14

set_io usb_rx P14 # tx in the schematic
set_io usb_tx M9  # rx in the schematic


# alchitry io led mapping
set_io io_led_segment[7]     P1
set_io io_led_segment[6]     M1
set_io io_led_segment[5]     L1
set_io io_led_segment[4]     K3
set_io io_led_segment[3]     K4
set_io io_led_segment[2]     N1
set_io io_led_segment[1]     J3
set_io io_led_segment[0]     J1

set_io io_led_segment_sel[0] G3
set_io io_led_segment_sel[1] G1
set_io io_led_segment_sel[2] H1
set_io io_led_segment_sel[3] H3

set_io io_led_2[7]           E1
set_io io_led_2[6]           D1
set_io io_led_2[5]           C1
set_io io_led_2[4]           B1
set_io io_led_2[3]           D3
set_io io_led_2[2]           C3
set_io io_led_2[1]           A1
set_io io_led_2[0]           A2

set_io io_led_1[7]           A3
set_io io_led_1[6]           A4
set_io io_led_1[5]           A6
set_io io_led_1[4]           A7
set_io io_led_1[3]           A10
set_io io_led_1[2]           A11
set_io io_led_1[1]           C9
set_io io_led_1[0]           C10

set_io io_led_0[7]           A12
set_io io_led_0[6]           B14
set_io io_led_0[5]           C14
set_io io_led_0[4]           D14
set_io io_led_0[3]           E14
set_io io_led_0[2]           E12
set_io io_led_0[1]           F14
set_io io_led_0[0]           G14
